/*input[type='text']{background:#fff;}*/
/*表格通用*/
.tablebox{ width: 99.8%; border: solid 1px #eee; border-bottom: none; font-family: "microsoft yahei"; font-size: 14px; text-align: center;}
.tablebox th{line-height:22px; padding:5px;border-bottom: solid 1px #eee;background: #f9fbfb; color: #999; }
.tablebox td{ line-height:22px; padding:9px 5px; border-bottom: solid 1px #eee;font-size: 14px; color: #333; }
.tablebox tr:hover{background: #fbfbfb}

/*颜色*/
.cl0{color: #000;}
.cl3{color: #333;}
.cl6{color: #666;}
.cl9{color: #999;}
.clc{color: #ccc;}
.clf{color: #fff;}
.clf0{color: #f00;}
.cl009{color: #009ee6;/*蓝色*/}


/*背景*/
.bgf{background: #fff;}
.bgf4{background: #f4f4f4;}
.bgcc{background: #ccc;}
.bg009{background: #009ee6;/*蓝色背景*/}

/*边框*/
.nobor{border:none;}
.borbote6{border-bottom: solid 1px #e6e6e6;}
.borbe{border-bottom: solid 1px #eee;}
.bor009{border: solid 1px #009ee6;/*蓝色*/}
.bore6{border:solid 1px #e6e6e6;}
.borb009{border-bottom: solid 1px #009ee6;}

/*按钮*/
.btnpd{padding:4px 20px; cursor: pointer;}
.graybtn:hover{ background: #f9f9f9}
.bluebtn:hover{background: #f7fffe}
.yellbtn:hover{background: #fdbd3d}

/*大小图标*/
.bigicon{ display: inline-block; width: 63px; height: 63px; background: url(../images/bigicon.png) no-repeat;}
.bigiconA1{background-position: 0 0;}


/*黑色透明背景*/
.mask{ position: fixed; left: 0;top:0; z-index: 999; float: left; display: none; width: 100%; height: 100%; background:url(../images/filter.png) repeat;}

/*分页*/
.paper{ margin:10px 0 0 0; line-height: 28px; text-align: right; color: #999}
.paper a{ display: inline-block; padding:2px 8px;line-height: 22px; font-size: 14px; color: #999;}
.paper a:hover{background: #d9f3ff;}
.paper span{padding:2px 8px;line-height: 22px;font-size:14px;color: #fff; background: #009ee6;}
.paper p{display:inline;margin-right: 10px; font-size: 14px;}

/*头部公用*/
.titline{width:4px;height:14px;background: url(../images/line.gif) no-repeat center;}
.subtitle{padding:0 20px;}
.subtitle a{display:inline-block;padding:0 12px;line-height: 32px; font-size: 14px; color: #666;}
.subtitle a.current{border:solid 1px #009ee6;border-top:solid 2px #009ee6;border-bottom: solid 1px #fff; color: #009ee6; background: #fff;}

/*搜索*/
.searchinput{ width: 218px; padding:5px; line-height: 20px;}
.inputbox{ padding:5px 10px; line-height: 20px;}
.searchbtn{ display: inline-block; height: 30px; padding:0 5px; border-left: solid 1px #e6e6e6; line-height: 30px; background: #fff; cursor: pointer;}

.staffname span{ float: left; width:60px; margin:4px 8px; }

/*验证码*/
.ecodeinput{ width: 121px; height: 20px; padding:5px;border:solid 1px #e6e6e6; line-height: 20px; border-right: none;}
.ecodebtn{ width: 80px; height: 32px; line-height: 30px; border:solid 1px #e6e6e6; color: #009ee6; background: #fff; cursor: pointer;}

/*验证图标*/
.wrong{ float: left; margin-left: 8px; line-height: 32px; font-size: 12px;color: #f00}
.fine{ float: left;margin:0 0 0 8px;padding:0; font-size: 12px;color: #f00}
.wrong a{color: #0098ce}
.icon_new{background:url(../images/icon_new.png) no-repeat;}
.pi_tip{background-position:-162px -7px;width:18px;height:18px;display:inline-block;line-height:34px;vertical-align:middle;margin-top:-3px;margin-right:3px;}
.pi_tip_ok{float:left;background-position:-11px -7px;width:18px;height:18px;display:inline-block;margin-top:9px;line-height:18px;vertical-align:middle;}
.jup{background-position:-133px 0px;width:15px;height:15px;display:inline-block;line-height:43px;vertical-align:middle;margin-top:-4px;margin-right:3px;}
.lefticonA1{ width: 30px; height: 30px; background-position:0 -60px; }
.lefticonA2{ width: 30px; height: 30px; background-position:0 -90px; }

/*折叠*/
.help_box{ width: 200px;}
.help_box h5{position: relative; float: left; width: 180px; height: 30px; padding:0 10px; border-bottom:solid 1px #e6e6e6; line-height: 30px; font-weight: 100; font-size: 14px; color: #333; background:#fbfbfb; cursor: pointer;}
.hp_cont{ display: none;border-bottom:solid 1px #e6e6e6;}
.hp_cont label{ display: block; padding:0 20px; line-height: 30px; color: #333; background: #fff;}
.hp_cont label:hover{color:#fff;background: #009ee6;}
span.up{position: absolute; right: 5px; top:0; z-index: 99; float: right; display: inline-block; width: 12px; height: 30px; padding:0 5px 0 130px; background:url(../images/sj.png) no-repeat 115px 0px; }
span.down {position: absolute; right: 5px; top:0; z-index: 99; float: right; display: inline-block;width: 12px; height: 30px;padding:0 5px 0 130px; background:url(../images/sj.png) no-repeat 115px -30px; }
.rightsj{ width: 20px; height: 220px; padding:0 10px; background: url(../images/righticon.png) no-repeat center;}
.showcont{ float:left; width:100%; height: 190px; line-height: 30px; overflow-x:hidden;overflow-y:auto;}
.showcont p{padding:0 15px;}
.showcont p:hover{background: #f4f4f4;}
.showcont p:hover .delicon{display: block;}
.delicon{display:none;width: 20px; height: 20px; margin:5px 0 0 0; background: url(../images/delicon.png) no-repeat;}

/*流程*/
.processli{ height: 32px; line-height: 32px; background: #b9cad1}
.processli li{ float: left; width: 33.3333%;}
.processli li.one,.processli li.two2{ background: #3ec1fd url(../images/one.gif) no-repeat right;}
.processli li.two{ background: url(../images/two.gif) no-repeat right;}
.processli li.three{ background: #3ec1fd url(../images/three.gif) no-repeat right;}
.processli li.three2{ background: #3ec1fd;}

/*companyinfo*/
.companyinfo dl{ float: left; width: 100%; padding:6px 0; line-height: 30px;}
.companyinfo dl dt{ float: left; width: 110px; padding-left: 20px; }
.companyinfo dl dd{ float: left;}
.firstenter dl{ padding:3px 0;}
/*payokbox*/
.payokbox{}
.payokbox dl{ float: left;width: 100%;}
.payokbox dl dt{ float: left; width: 63px;}
.payokbox dl dd{ margin-left: 80px; padding-top:5px;}