/*登录*/
.loginregbox{ position: absolute; width: 1000px;height:515px;left: 50%;margin-left: -500px; margin-top: 30px; }
.login{ position: relative; width: 100%; min-height: 555px; background: #b8dcfc url(../images/loginbg.png) no-repeat center;}
.loginbox{ position: absolute; left: 50%; top: 50%; width: 420px; height: 320px; padding:40px; margin:-200px 0 0 -250px; border-bottom: solid 10px #009ee6; background: #f4f4f4}
.rgtinput{ width: 196px;}
.logintab{}
.logintab li{ position: relative; float: left; width: 100%; padding:10px 0; line-height: 30px;}
.logintab li span{position: absolute; top: 42px; left: 24px; line-height: 20px;}


/*重置密码三步流程*/
/*.p-process{ width: 460px; margin:100px 0 0 180px;}
.f_round_gray{background-color:#e5e5e5;}
.f_round{display:inline-block;width:32px;height:32px;border-radius:100%;color:#fff;line-height:32px;text-align:center;vertical-align:middle;font-size:16px;}
.f_arrow_one{width:140px;}
.f_arrow_ed,.f_arrow_no{background: url(../images/process.gif) repeat-x;}
.f_arrow_ed{background-position:0 0;height:32px;}
.f_arrow_no{background-position:0 -32px;height:32px;}
.ptext{width: 60px;}
*/


.accountab{ display: inline; max-width: 620px; margin:100px 0 0 200px;}
.accountab dl{float:left;display:block;width:100%;padding:8px 0; line-height: 34px;}
.accountab dl dt{ float: left;margin-right: 10px; text-align: right; color: #333;}
.accountab dl dd{ float: left; min-width: 470px; }
