<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">	
	<title></title>
	<link rel="stylesheet" href="../../static/businessManage/css/reset.css" />
	<link rel="stylesheet" href="../../static/businessManage/css/css.css" />
	<link rel="stylesheet" href="../../static/businessManage/artDialog/skins/default.css">
</head>
<body class="bgf4">
	<div class="paddtl">
	<form id="Loginform" action="<{url c='admin/gift' a='save'}>" method="post" enctype="multipart/form-data">
		<div class="bgf">
			<div class="lh22 p10 pl20 pr20 fs14 cl3">
				<i class="fl titline mt05 mr05"></i>添加礼物
			</div>
			<div class="borb009 h34 subtitle mt10">
				<a href="javascript:void(0);" class="current">添加礼物</a>
				<a href="<{url c='admin/gift' a='list'}>">礼物列表</a>
			</div>
			<div class="p20 pt15 pb15 fs14 clearfix">
				<dl class="fl w lh24 pt10 pb10 lh30">
					<dt class="fl w100">文章标题：</dt>
					<dd class="fl">
						<input type="text" name="title" value="<{$strArticle.title}>" class="inputbox fl mr05 w300 bore6" id="PerSet" autocomplete="off"> 
					</dd>
				</dl>
				<dl class="fl w lh24 pt10 pb10 lh30">
					<dt class="fl w100">关键词 ：</dt>
					<dd class="fl">
						<input type="text" name="keyword" value="<{$strArticle.keyword}>" class="inputbox fl mr05 w300 bore6" id="PerSet" autocomplete="off"> （多关键词之间用英文“,”隔开）
					</dd>
				</dl>
				<dl class="fl w lh24 pt10 pb10 lh30">
					<dt class="fl w100">简    介 ：</dt>
					<dd class="fl">
						<textarea name="description" class="inputbox fl mr05 bore6" rows="2" cols="80" ><{$strArticle.description}></textarea>
					</dd>
				</dl>
				<dl class="fl w lh24 pt10 pb10 lh30">
					<dt class="fl w100">作者 ：</dt>
					<dd class="fl">
						<input type="text" name="author" value="<{if $strArticle.author!=''}>{$strArticle.author<{else}>生日汇<{/if}>" class="inputbox fl mr05 w140 bore6" id="PerSet" autocomplete="off">
					</dd>
				</dl>
				<dl class="fl w lh24 pt10 pb10 lh30">
					<dt class="fl w100">所属栏目：</dt>
					<dd class="fl">
						<select class="w118 bore6 p05 fl mr05" name="cateid">
							<option value="">选择栏目</option>
							<{foreach $strCate as $key=>$val}>
							<option value="<{$val.cateid}>" <{if $strArticle.cateid == $val.cateid }> selected="" <{/if}>><{$val.catename}></option>
							<{/foreach}>
						</select>
					</dd>
				</dl>
				<dl class="fl w lh24 pt10 pb10 lh30">
					<dt class="fl w100">文章缩略图：</dt>
					<dd class="fl">
						<input type="file" name="image" value="" class="">
					</dd>
				</dl>
				<dl class="fl w lh24 pt10 pb10 lh30">
					<dt class="fl w100">状态：</dt>
					<dd class="fl">
						<input type="radio" name="isaudit" value="1" <{if $strArticle.isaudit === 1}>checked <{/if}>> 立即发布
						<input type="radio" name="isaudit" value="0" <{if $strArticle.isaudit === 0}>checked <{/if}>> 暂不发布
					</dd>
				</dl>
				<dl class="fl w lh24 pt10 pb10 lh30">
					<dt class="fl w100">推荐：</dt>
					<dd class="fl">
						<input type="radio" name="isrecommend" value="1" <{if $strArticle.isrecommend == 1}>checked <{/if}>> 是
						<input type="radio" name="isrecommend" value="0" <{if $strArticle.isrecommend == 0}>checked <{/if}>> 否
					</dd>
				</dl>
				<dl class="fl w lh24 pt10 pb10 lh30">
					<dt class="fl w100">浏览/喜欢量 ：</dt>
					<dd class="fl">
						<input type="text" name="count_view" value="<{$strArticle.count_view}>" class="inputbox fl mr05 w30 bore6" id="PerSet" autocomplete="off">
						<input type="text" name="count_love" value="<{$strArticle.count_love}>" class="inputbox fl mr05 w30 bore6" id="PerSet" autocomplete="off">
					</dd>
				</dl>
				<dl class="fl w lh24 pt10 pb10 lh30">
					<dt class="fl w100">详细内容：</dt>
					<dd class="fl">
						<textarea class="elm1" name="elm1"  class="xheditor w600 h300" rows="" cols=""  autocomplete="off"></textarea>
					</dd>
				</dl>
			
			
				<dl class="fl w lh24 mt20 pt05 pb05">
					<dt class="fl w100">&nbsp;</dt>
					<dd class="fl">
						<input type="submit" name="" value="提交" class="w140 p10 pl30 pr30 fs14 clf bg009 cursor" >
					</dd>
				</dl>
			</div>
			<!-- 企业账户信息 -->
		</div>
		</form>
	</div>
	<script type="text/javascript" src="../../static/businessManage/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="../../static/businessManage/js/base.js"></script>
	<script type="text/javascript" src="../../static/businessManage/artDialog/jquery.artDialog.js"></script>
	<script type="text/javascript" src="./../static/businessManage/artDialog/plugins/iframeTools.source.js"></script>
	<script type="text/javascript" src="./../static/businessManage/js/xheditor/xheditor-1.2.2.min.js" ></script>
	<script type="text/javascript" src="./../static/businessManage/js/xheditor/xheditor_lang/zh-cn.js"></script>
	<style>
	.testClassName {
    	background: transparent url("/static/businessManage/js/plugin.gif") no-repeat scroll 2px 2px;
	}
	</style>
	
	<script>
	$(function(){
		//$('.elm1').xheditor({width:600,height:400});
		
		var editor;
		$(pageInit);
		function pageInit()
		{
		    var allPlugin={
		        liwu:{c:'testClassName',t:'添加礼物：showIframeModal (Ctrl+d)',s:'ctrl+d',e:function(){
		            var _this=this;
		            _this.saveBookmark();
		            _this.showIframeModal('添加礼物',"<?php echo url('admin/gift','addliwu');?>",function(v){
		            	_this.loadBookmark();
		            	_this.pasteHTML(v);
		            },600,400);
		        }}
		    };
		    editor=$('.elm1').xheditor({width:'800',height:500,plugins:allPlugin});
		}
		
		
		$("#sbt").click(function(){
			var keyword = $.trim($('#keyword').val());
			if(!keyword){
				alert('请输入关键词');
				return false;
			}
			var url = "<?php echo url('admin/gift', 'query');?>";
			$.ajax({
					url:url,
					type:"POST",
					data:{"keyword":keyword},
					timeout:5000,
					dataType:"json",
					success:function(result){
						$("#result").html(result.str);
					},
					error:function(jqXHR, textStatus, errorThrown){   
		                if(textStatus=="timeout"){  
		                    alert("加载超时，请重试");  
		                }  
		            }
				});
		})
	});
	function record( ) {  //状态修改记录
		var id = $("#sum").val();
		id = parseInt(id)+1;	
		$("#sum").val(id);
		var str = '<input type="hidden" value="" name="liwu[]" id="liwu_'+id+'"><span id="liwu_title_'+id+'"></span><br>';
		$("#liwu_list").append(str);
		
		var url = "/index.php?m=admin&c=gift&a=addliwu&id="+id;//"<?php echo url('admin/gift','addliwu');?>";
	    var title = "";
	    art.dialog.open(url, {title: '添加礼物',width: 600, height: 400});
	} 
	</script>
</body>
</html>