<{include file='/header2.html'}>

<!--面包屑-->
<div class="w1000">
    <div class="breadcrumb">
        <div class="position clearfix">
            <div class="link-index left">
                <a target="_blank" href="<{$webinfo.site_url}>"><{$webinfo.site_name}></a>
                <span class="arrow">&gt;</span>
            </div>
            <div class="scroll left">
                <a target="_blank" href="<{url c='group' a='index'}>">圈子</a>
                <span class="arrow">&gt;</span>
            </div>
            <div class="scroll left"><{$topicInfo.title}></div>
        </div>
    </div>
</div>
<!--//面包屑-->
<!--右侧内容-->
<div class="mainBox">
<div class="rightBox">
            <div class="rightCont">
                <p class="c555 ft18">主治医生</p>
        <div class="theDocInfo clearfix">
            <a href="http://www.yuemei.com/dr/00363149/" class="left docImg"><img src="http://p22.yuemei.com/avatar/000/36/31/49_avatar_90_90.jpg" alt="米杰医师"/></a>
            <div class="left">
                <p class="ft16"><a href="http://www.yuemei.com/dr/00363149/">米杰 </a><i class="theV"></i></p>
                <p class="c999">郑州市都市风韵医疗美容门诊部</p>
            </div>
            <i class="litIcon"></i>
        </div>
                <!--<div class="zixunFormy">由于个体差异，想了解适合自身的变美方案，请点击这里进行咨询...<a href="http://www.yuemei.com/order?po=1069&q=1279769" target="_blank">我要咨询</a></div>-->
                <p class="c555 ft18">相同项目的日记</p>
        <div class="same-diary">
                        <a href="http://www.yuemei.com/c/1203031.html" class="diary-list" target="_blank">
                <div class="img-box">
                    <img src="http://p32.yuemei.com/forum/image/20160612/150_150/160612221649_154aad.jpg" alt=""/>
                </div>
                <div class="diary-name"><span>悠然</span><i>发表</i></div>
            </a>
                        <a href="http://www.yuemei.com/c/1180601.html" class="diary-list" target="_blank">
                <div class="img-box">
                    <img src="http://p33.yuemei.com/forum/image/20160422/150_150/160422181119_74c661.jpg" alt=""/>
                </div>
                <div class="diary-name"><span>手机用户047643258952</span><i>发表</i></div>
            </a>
                        <a href="http://www.yuemei.com/c/1271937.html" class="diary-list" target="_blank">
                <div class="img-box">
                    <img src="http://p33.yuemei.com/forum/image/20160818/150_150/14715104706021.jpg" alt=""/>
                </div>
                <div class="diary-name"><span>西瓜说它很爱夏天</span><i>发表</i></div>
            </a>
                        <a href="http://www.yuemei.com/c/1189893.html" class="diary-list" target="_blank">
                <div class="img-box">
                    <img src="http://p33.yuemei.com/forum/image/20160504/150_150/160504192038_603ecf.jpg" alt=""/>
                </div>
                <div class="diary-name"><span>Erlc_</span><i>发表</i></div>
            </a>
                    </div>
                
        
    <p class="c555 ft18">相关整形服务</p>
    <div class="tao-over">
        <div class="tao-cont">
                    <dl class="baokuan-item">
                <dt><a target="_blank" href="http://tao.yuemei.com/21171/"><img width="80px;" height="80px;" src="http://p34.yuemei.com/tao/2015/1203/200_200/151203111657_919889.jpg" alt="郑州衡力瘦脸针"></a></dt>
                <dd>
                    <p class="item1"><a href="http://tao.yuemei.com/21171/" target="_blank">郑州衡力瘦脸针</a></p>
                    <p class="item2"><a href="http://tao.yuemei.com/21171/" target="_blank">瘦脸针超值钜惠 秒变小V脸 立体更上镜 康忙Baby</a></p>
                    <p class="item3">郑州市都市风韵医疗美容门诊部</p>                    <p class="item4"><a href="http://tao.yuemei.com/21171/" target="_blank"><i>￥</i><em>880</em>起<b class="c999"><i>831</i>人已预订</b></a></p>
                </dd>
            </dl>
                    <dl class="baokuan-item">
                <dt><a target="_blank" href="http://tao.yuemei.com/21607/"><img width="80px;" height="80px;" src="http://p34.yuemei.com/tao/2016/0801/200_200/160801173929_172e51.jpg" alt="郑州自体脂肪面部填充"></a></dt>
                <dd>
                    <p class="item1"><a href="http://tao.yuemei.com/21607/" target="_blank">郑州自体脂肪面部填充</a></p>
                    <p class="item2"><a href="http://tao.yuemei.com/21607/" target="_blank">口碑超好的自体脂肪面部填充特惠只需999元/部位！医生亲诊 给你饱满童颜脸 速抢速抢！</a></p>
                    <p class="item3">郑州市都市风韵医疗美容门诊部</p>                    <p class="item4"><a href="http://tao.yuemei.com/21607/" target="_blank"><i>￥</i><em>999</em>起<b class="c999"><i>625</i>人已预订</b></a></p>
                </dd>
            </dl>
                    <dl class="baokuan-item">
                <dt><a target="_blank" href="http://tao.yuemei.com/22823/"><img width="80px;" height="80px;" src="http://p34.yuemei.com/tao/2016/0129/200_200/160129085831_7634bc.jpg" alt="郑州润百颜玻尿酸注射"></a></dt>
                <dd>
                    <p class="item1"><a href="http://tao.yuemei.com/22823/" target="_blank">郑州润百颜玻尿酸注射</a></p>
                    <p class="item2"><a href="http://tao.yuemei.com/22823/" target="_blank">正品国产润百颜玻尿酸首支钜惠只要380元 每人限购1支 填充凹陷 更显年轻活力 第2支起980/支 同样劲爆！更有十年畅打套餐可选！速抢速抢！</a></p>
                    <p class="item3">郑州市都市风韵医疗美容门诊部</p>                    <p class="item4"><a href="http://tao.yuemei.com/22823/" target="_blank"><i>￥</i><em>380</em>起<b class="c999"><i>579</i>人已预订</b></a></p>
                </dd>
            </dl>
                    <dl class="baokuan-item">
                <dt><a target="_blank" href="http://tao.yuemei.com/22821/"><img width="80px;" height="80px;" src="http://p24.yuemei.com/tao/2016/0129/200_200/160129085010_289f28.jpg" alt="郑州水光针注射"></a></dt>
                <dd>
                    <p class="item1"><a href="http://tao.yuemei.com/22821/" target="_blank">郑州水光针注射</a></p>
                    <p class="item2"><a href="http://tao.yuemei.com/22821/" target="_blank">韩国进口水光针 深层注射 肌肤自然水润</a></p>
                    <p class="item3">郑州市都市风韵医疗美容门诊部</p>                    <p class="item4"><a href="http://tao.yuemei.com/22821/" target="_blank"><i>￥</i><em>980</em>起<b class="c999"><i>165</i>人已预订</b></a></p>
                </dd>
            </dl>
                    <dl class="baokuan-item">
                <dt><a target="_blank" href="http://tao.yuemei.com/22249/"><img width="80px;" height="80px;" src="http://p34.yuemei.com/tao/2016/0107/200_200/160107101829_542fea.jpg" alt="郑州润百颜玻尿酸注射"></a></dt>
                <dd>
                    <p class="item1"><a href="http://tao.yuemei.com/22249/" target="_blank">郑州润百颜玻尿酸注射</a></p>
                    <p class="item2"><a href="http://tao.yuemei.com/22249/" target="_blank">10年畅打套装年底钜惠2.2折开抢！每人仅限1套！青春不是梦！！！</a></p>
                    <p class="item3">郑州市都市风韵医疗美容门诊部</p>                    <p class="item4"><a href="http://tao.yuemei.com/22249/" target="_blank"><i>￥</i><em>19800</em>起<b class="c999"><i>158</i>人已预订</b></a></p>
                </dd>
            </dl>
                    <dl class="baokuan-item">
                <dt><a target="_blank" href="http://tao.yuemei.com/21605/"><img width="80px;" height="80px;" src="http://p24.yuemei.com/tao/2015/1218/200_200/151218175921_9568a3.jpg" alt="郑州伊婉玻尿酸"></a></dt>
                <dd>
                    <p class="item1"><a href="http://tao.yuemei.com/21605/" target="_blank">郑州伊婉玻尿酸</a></p>
                    <p class="item2"><a href="http://tao.yuemei.com/21605/" target="_blank">进口伊婉玻尿酸钜惠 只要999元/支 每人仅限1支 一共20支 手慢无</a></p>
                    <p class="item3">郑州市都市风韵医疗美容门诊部</p>                    <p class="item4"><a href="http://tao.yuemei.com/21605/" target="_blank"><i>￥</i><em>999</em>起<b class="c999"><i>157</i>人已预订</b></a></p>
                </dd>
            </dl>
                </div>
    </div>
        

        <div id="service-fixed" class="service-fixed">
                        <p class="c555 ft18 pt27">TA预订的服务</p>
            <div class="reservation-service">
                <div class="img-box">
                    <img src="http://p34.yuemei.com/tao/2016/0129/200_200/160129085831_7634bc.jpg" alt=""/>
                </div>
                <a href="http://tao.yuemei.com/22823/" target="_blank" class="service-name">正品国产润百颜玻尿酸首支钜惠只要380元 每人限购1支 填充凹陷 更显年轻活力 第2支起980/支 同样劲爆！更有十年畅打套餐可选！速抢速抢！</a>
                <div class="service-hospital">米杰/郑州市都市风韵医疗美容门诊部</div>
                <div class="service-data">
                    <span>已预订<i>599</i></span>
                    <span class="ta-c">评价<i>19</i></span>
                    <span class="ta-r">累计评价<i>19</i></span>
                </div>
                <div class="service-money">
                                        <span class="now">￥<i>380</i></span>
                    <span class="del">￥<i>6800</i></span>
                                    </div>
                <a href="http://tao.yuemei.com/22823/" class="now-see" target="_blank">现在去看看</a>
            </div>
                        <div class="new_down2">
                <img src="http://icon.yuemei.com/front/common/images/pctoapp/35.png">
            </div>
        </div>

    </div>
</div>
<!--//右侧内容-->
<div class="leftBox">

<p class="sq_tit w1000"><{$topicInfo.title}></p><div class="author w1000 clearfix">
    <a href="<{url c='user' a='index' uid=$topicInfo.userid}>" target="_blank">
        <img class="left" src="<{$topicInfo.user.face}>" alt="<{$topicInfo.user.username}>"/>
    </a>
    <span class="left"><a href="<{url c='user' a='index' uid=$topicInfo.userid}>" target="_blank"><{$topicInfo.user.username}></a></span>
    <i class="darenIcon left "></i>
    <div class="right handle">
                <span class="cbbb"><{$topicInfo.addday}></span>
    </div>
</div>
<!--帖子内容-->
<div class="compile-box w1000">
   <{$topicInfo.content nofilter}>
</div>
<!--//帖子内容-->
<!--报名投票入口-->







<div class="stateBtn w1000">
    <a href="javascript:;" class="praise" onclick="agree(1276373,0)" id="agree_zt" data_agree_num="6"><span>赞</span></a>
    <a href="javascript:;" class="collect" id="collect_zt"><span>收藏</span></a><!--collected-->
</div>
<div class="zixunFormy">
    <div>
        <span class="c999">注：</span>
        <p>由于个体差异，想了解适合自身的变美方案，请点击这里进行咨询...</p>
    </div>
    <a href="http://www.yuemei.com/order?po=1069&q=1276373" target="_blank">我要咨询</a>
</div>
<div class="w1000 share clearfix">

        <div class="shareTo pos_rel right">
        <span class="shareTip">分享</span>
        <div class="bdsharebuttonbox"><a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a><a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a></div>
        <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"3分钟攻略｜如何让悦美代金券帮你省500元？","bdDesc":"3分钟攻略｜如何让悦美代金券帮你省500元？悦美app时不时会送你一些小惊喜（钱or代金券）动辄就是一大笔巨款（不过几百块而已）你们可能不知道，这些代金券都是全...","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
    </div>
</div>
<!--//报名投票入口-->
<!-- 版权声明 -->
    <div class="copeRight">版权声明：本帖内容及图片归作者所有，未经许可，禁止任何媒体、网站转载使用。</div>
<!-- 版权声明， end -->
<!--回复-->
<div class="w1000 clearfix pos_rel">
    <div class="replyCont">
        <script type="text/javascript" charset="utf-8" src="http://icon.yuemei.com/front/modules/ueditor/ueditor/umeditor.config.admin_community.js"></script>
        <script type="text/javascript" charset="utf-8" src="http://icon.yuemei.com/front/modules/ueditor/ueditor/umeditor.min.js"></script>
        <script type="text/javascript" src="http://icon.yuemei.com/front/modules/ueditor/ueditor/lang/zh-cn/zh-cn.js"></script>
        <script type="text/plain" id="editor" name="editor"></script>
        <script> var um = UM.getEditor('editor');</script>
        <a onclick="reply(1276373,0,this)" href="javascript:;" class="subReply left">回复</a>
        <div class="push-box left">
                    </div>
    </div>
</div>
<!--//回复-->
<!--回复列表-->
<div class="preson-list w1000">
    <p class="person-box-tit"><span id="answer_num" lc="2" count="2" rel="2"  >2条回复</span></p>
        <div class="person-box">
        <a target="_blank" href="http://www.yuemei.com/u/00083595/" class="head-img" rel="nofollow">
            <img alt="" src="http://p32.yuemei.com/avatar/000/08/35/95_avatar_50_50.jpg">
        </a>
        <div class="head-cont">

            <div class="cont-top list-top">
                <a rel="nofollow" href="http://www.yuemei.com/u/00083595/" target="_blank" class="img-name">听说</a>
                                                                <span class="name-hosipt"></span>
                <span class="num-lou">2016-08-25</span>
                <i class="time">1楼</i>
            </div>

            <div class="cont-cent list-cent">
                                <p class="name-txt">我看见一个洗牙的项目，好像是70多，我有那个没有门槛的消费是不是20多就行了</p>
                                <ul class="ask-list" id="list1166273">
                                    </ul>
                <div id="" class="ask-btnsBox">
                    <div class="ask-left" id="replymore1166273" style="display:none;">还有-5条回复，<a class="look-list" href="javascript:void(0);">查看更多</a></div>
                    <div class="praise-box mar-b20">
                                                <a id="c1166273" href="javascript:;" rel="0" onclick="agree(1276373,1166273)" class="praise ">赞(0)</a>
                        <a href="javascript:;" id="p1166273" data_reply_id="1166273" rel="0" class="reply showReply">回复(0)</a>
                    </div>
                </div>
            </div>
                        <div class="replyCont shiftReply">
                <script type="text/plain" id="editor2" name="edito2r"></script>
                <script> var um2 = UM.getEditor('editor2');</script>
                <a href="javascript:;" onclick="reply(1276373,'reply',this)" class="subReply left" id="reply_in" data_reply_id="1166273">回复</a>
                <div class="push-box left">
                                    </div>
            </div>
                    </div>
    </div>
        <div class="person-box">
        <a target="_blank" href="http://www.yuemei.com/u/00083654/" class="head-img" rel="nofollow">
            <img alt="" src="http://p21.yuemei.com/avatar/000/08/36/54_avatar_50_50.jpg">
        </a>
        <div class="head-cont">

            <div class="cont-top list-top">
                <a rel="nofollow" href="http://www.yuemei.com/u/00083654/" target="_blank" class="img-name">biubiu哒</a>
                                                                <span class="name-hosipt"></span>
                <span class="num-lou">2016-08-25</span>
                <i class="time">2楼</i>
            </div>

            <div class="cont-cent list-cent">
                                <p class="name-txt">收藏</p>
                                <ul class="ask-list" id="list1166279">
                                    </ul>
                <div id="" class="ask-btnsBox">
                    <div class="ask-left" id="replymore1166279" style="display:none;">还有-5条回复，<a class="look-list" href="javascript:void(0);">查看更多</a></div>
                    <div class="praise-box mar-b20">
                                                <a id="c1166279" href="javascript:;" rel="0" onclick="agree(1276373,1166279)" class="praise ">赞(0)</a>
                        <a href="javascript:;" id="p1166279" data_reply_id="1166279" rel="0" class="reply showReply">回复(0)</a>
                    </div>
                </div>
            </div>
                    </div>
    </div>
        <!--翻页-->
        <!--//翻页-->
</div>

<!--添加淘整形链接，此处和线上的一模一样-->
<div id="alert-tao" class="alert-tao-labels" style="display: none;">
    <div class="alert-bj"></div>
    <div class="alert-cont">
        <div class="alert-tit">
            <p>选择一个服务</p><a href="javascript:;" class="alert-close"></a>
        </div>
                <div style="display: none;" id="insert_tao_box" class="list-cont">
            <div id="insert_tao_list"></div>
            <div class="alert-bot">
                <input type="button" value="取消" class="alert-false">
                <input type="button" value="确认" class="alert-true">
            </div>
        </div>
    </div>
</div>
<!--//添加淘整形链接，此处和线上的一模一样-->
<!--//回复列表-->
</div>
</div>
<!--最新流行-->
<div class="mainBox hot-items">
    <div class="top-hot-items">
        <h3>最新流行：</h3>
        <a href="http://www.yuemei.com/eyebag/" target="_blank">怎么去眼袋</a>
        <a href="http://www.yuemei.com/teethwhiten/" target="_blank">牙齿美白</a>
        <a href="http://www.yuemei.com/implish/" target="_blank">种植牙</a>
        <a href="http://www.yuemei.com/hairtransp/" target="_blank">植发</a>
        <a href="http://www.yuemei.com/Waist/" target="_blank">减肚子</a>
        <a href="http://www.yuemei.com/uparmlipo/" target="_blank">瘦手臂</a>
        <a href="http://www.yuemei.com/rhino/92/" target="_blank">注射隆鼻</a>
        <a href="http://www.yuemei.com/hymen/" target="_blank">处女膜修补</a>
        <a href="http://www.yuemei.com/calfshape/" target="_blank">瘦腿的方法</a>
        <a href="http://www.yuemei.com/Waist/" target="_blank">瘦腰</a>
        <a href="http://tao.yuemei.com/weining.html" target="_blank">威宁假体  </a>
        <a href="http://tao.yuemei.com/surgiform.html" target="_blank">射极峰膨体  </a>
        <a href="http://tao.yuemei.com/scar.html" target="_blank">祛疤  </a>
        <a href="http://tao.yuemei.com/freezing.html" target="_blank">冰点脱毛  </a>
        <a href="http://tao.yuemei.com/rinpakyan.html" target="_blank">润百颜玻尿酸  </a>
        <a href="http://tao.yuemei.com/yiwan.html" target="_blank">伊婉玻尿酸  </a>
        <a href="http://tao.yuemei.com/hengli.html" target="_blank">衡力肉毒素  </a>
        <a href="http://tao.yuemei.com/botoxbotox.html" target="_blank">Botox</a>
        <a href="http://tao.yuemei.com/botoxbotox.html" target="_blank">保妥适</a>
        <a href="http://tao.yuemei.com/eme.html" target="_blank">逸美玻尿酸  </a>
        <a href="http://tao.yuemei.com/almafreezing.html" target="_blank">飞顿冰点脱毛  </a>
        <a href="http://tao.yuemei.com/co3laser.html" target="_blank">二氧化碳激光  </a>
        <a href="http://tao.yuemei.com/bluerf.html" target="_blank">深蓝射频  </a>
        <a href="http://tao.yuemei.com/lasershed.html" target="_blank">激光脱毛  </a>
        <a href="http://tao.yuemei.com/botoxwrinkle.html" target="_blank">肉毒素除皱  </a>
    </div>
</div>

<!--最新流行-end-->
<div class="sucTxt"></div>
<div class="show-msg" id="show-msg" style="display:none;">
    <div class="msg-bj"></div>
    <div class="msg-txt">取消收藏</div>
</div>

<!-- 分享成功，得积分 -->
<div class="get-points"  style="display: none">
    <div class="get-bj"></div>
    <div class="points-main">
        <div class="get-tit">评论成功</div>
        <div class="get-cont">
            <div class="get-num" id="get-num-add"><span>+1</span><i>积分</i></div>
            <div class="point-text" id="get-num-noadd">评论不足5个字，未获得积分</div>
        </div>
    </div>
</div>

<script>
    var post_id = '1276373';
    var doctorEdit = '2';
    var rightAppend = true;
    var upload_host = 'http://www.yuemei.com/c/doccase';
    var c_url = 'http://www.yuemei.com/c/';
    var ask_uid = 70278;
    var ajax_url='http://www.yuemei.com/c/doccase/';
    var user_url='http://user.yuemei.com/';
    $(function(){
        var tId = 1276373;
        var time = new Date().getTime();
        $showMsg = $('#show-msg');

        //收藏商品
        $("#collect_zt").click(function(){
            $.ajax({
                url: "http://ask.yuemei.com/qa/home/collect",
                type: 'get',
                data: {"hid":tId,"type":2},
                dataType: "jsonp",
                jsonp: "callback",//
                jsonpCallback:"callback",
                success:function(data){
                    if(data.status==1){
                        $showMsg.find('.msg-txt').text('收藏成功') ;
                        $showMsg.fadeIn(200,function(){
                            setTimeout(function(){
                                $showMsg.fadeOut(200) ;
                            },2000) ;
                        });
                        $("#collect_zt").removeClass().addClass("collected").find("span").text("已收藏");
                        //$(".collect a").css({"background-position":"-59px -1573px"});
                    }else if(data.status==3){
                        $showMsg.find('.msg-txt').text('取消收藏') ;
                        $showMsg.fadeIn(200,function(){
                            setTimeout(function(){
                                $showMsg.fadeOut(200) ;
                            },2000) ;
                        });
                        $("#collect_zt").removeClass().addClass("collect").find("span").text("收藏");
                        //$("#hostagree2").removeClass("praiseAll");
                        //$(".collect a").css({"background-position":"0 -1573px"});
                    }else if(data.status==2){
                        //window.location.href='http://user.yuemei.com/user/login/';
                        $(".login-alert").show() ;
                    }
                }
            });
        })
    })
</script>

<div class="clear"></div>
<div class="faith">
    <div class="ym-wrap">
        <div>
            <span class="prof"></span>
            <span class="sunl"></span>
            <span class="conv"></span>
            <span class="cheep"></span>
        </div>
    </div>
</div>
<div class="ym-footer">
    <div class="ym-info">
        <div class="foot-wrap">
            <div class="ym-logo">
                <div><img src="http://icon.yuemei.com/front/common/images/footlogo.png"/></div>
                <p><span>客服电话：</span><em>400-056-7118</em></p>
            </div>
            <div class="ym-about">
                <dl>
                    <dt>关于我们</dt>
                    <dd><a href="http://www.yuemei.com/aboutus.html" rel="nofollow">关于悦美</a></dd>
                    <dd><a href="http://www.yuemei.com/joinus.html" rel="nofollow">加入我们</a></dd>
                    <dd><a href="http://www.yuemei.com/contactus.html" rel="nofollow">联系我们</a></dd>
                    <dd><a href="http://www.yuemei.com/disclaimer.html" rel="nofollow">版权声明</a></dd>
                </dl>
                <dl>
                    <dt>用户</dt>
                    <!--<dd><a href="http://www.yuemei.com/fanxian.html">用户返现</a></dd>-->
                    <dd><a href="http://www.yuemei.com/feedback/" rel="nofollow">意见反馈</a></dd>
                    <dd><a href="http://photo.yuemei.com/">前后对比图</a></dd>
                    <dd><a href="http://www.yuemei.com/app/kuaiwen.html">客户端下载</a></dd>
                </dl>
                <dl>
                    <dt>战略合作</dt>
                    <dd>上海九院整复</dd>
                    <dd>西京医院整形</dd>
                    <dd>南方医院整形</dd>
                </dl>
                <dl>
                    <dt>&nbsp;</dt>
                    <dd>北京协和医院</dd>
                    <dd>中国医师协会</dd>
                    <dd>中华医学会整</dd>
                    <dd>西南医院整形</dd>
                </dl>
            </div>
            <div class="ym-public">
                <div class="ym-wb"><span><a rel="nofollow" title="关注悦美官方微博" href="http://weibo.com/2278448413" target="_blank">官方微博</a></span></div>
                <div class="ym-wx"></div>
            </div>
<!--            <div class="ym-public">-->
<!--                <div class="ym-wb"><span>官方微博</span><a target="_blank" rel="nofollow" href="--><!--" title="关注悦美官方微博"><img src="--><!--index/images/yuemeiwb.jpg" title="关注悦美官方微博"/></a></div>-->
<!--                <div class="ym-wx"><span>官方微信</span><img src="--><!--index/images/yuemeiwx.jpg" titile="关注悦美官方微信"/></div>-->
<!--            </div>-->
        </div>
    </div>
    <div class="fr-link">
        <div class="foot-wrap">
                        <div class="state">
                <p><span>本站声明：</span>任何信息都不能替代执业医师面对面的诊断和治疗，本网站所载的各种信息和数据等仅供参考，本站不承担由此引起的法律责任；本站淘整形频道所有项目基于医疗美容机构所提供素材编辑完成，但并不对其准确性、充足性或完整性做任何保证，因信息不合理、不准确或遗漏导致的任何损失或损害，或不符合相关法律法规，本站也不承担相应的法律责任。</p>
                <p class="state-p"><span>京ICP证110968号</span><span>京ICP备11042644号-1</span><span><img src="http://icon.yuemei.com/front/common/images/jing-icon.png">京公网安备11010802021734号</span><span>互联网药品信息服务资格证书编号 (京) -经营性-2011-0031</span></p>
                <p class="state-p">经营性网站备案信息京卫计网审[2015]第0066号Copyright &copy; yuemei.com. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript" src="http://js.yuemei.com/front/common/js/channel-pub.js?v=577" charset="utf-8"></script>
<script type="text/javascript" src="http://js.yuemei.com/front/community/js/community.js?v=577" charset="utf-8"></script>
    <!--//融云-->
<div class="openRY">
    <div class="RYHosInfo">
        <span><img src="" alt="" /></span>
        <p></p>
    </div>
    <div class="daoyu">
        Hi~我是医美咨询顾问，任何问题可以点我咨询哦~
    </div>
    <div class="clearfix">
        <span class="left yesOpen">在线咨询</span>
        <span class="right noOpen">暂不需要</span>
    </div>
</div>
    <script>
        var ry_src='';
    </script>
    <div class="ryOnPage" id="ryOnPage" style="display: none">
        <div class="editBtns">
            <span class="hideIt"></span>
             <a href="" class="maxIt"></a>
            <span class="minIt"></span>
        </div>
        <span class="showIt"></span>

        <iframe src="" width="300" height="434" id="newTalk"></iframe>
    </div>
    <!--//融云结束-->

    <div style="display: none;">
        <script src="http://cdn.ronghub.com/RongIMLib-2.1.0.min.js"></script>
        <!--//嵌入新版本美洽代码-->
        <script type='text/javascript'>
            $(function(){
                (function(m, ei, q, i, a, j, s) {
                    m[a] = m[a] || function() {
                        (m[a].a = m[a].a || []).push(arguments)
                    };
                    j = ei.createElement(q),
                        s = ei.getElementsByTagName(q)[0];
                    j.async = true;
                    j.src = i;
                    s.parentNode.insertBefore(j, s)
                })(window, document, 'script', '//eco-api.meiqia.com/dist/meiqia.js', '_MEIQIA');
                _MEIQIA('entId', 21455);
                //开启无按钮模式
                _MEIQIA('withoutBtn');
            });
        </script>        <!--//嵌入美洽代码-->
    </div>

<!--//公用底-->

<div style="display:none"><script src='http://js.yuemei.com/front/ym_tj.js?v=577'></script></div>
</body>
</html>