	<footer class="fl w">
		© 2016 - 2018 www.srhui.cn 生日汇 版权所有 <br>
		<a href="/">首页</a> | <a href="">商务合作</a> | <a href="">关于我们</a>    Email：85136105@qq.com
	</footer>
	<!-- 弹窗登录 -->
	<div class="modals-backdrop">
		<div class="modal login-modals">
			<div class="modal-header">
				登录生日汇
				<div class="modal-close"></div>
			</div>
			<div class="modal-body clearfix">
				<ul>
					<li><a href=""><i class="login-icon-weibo"></i>微博账号登录</a></li>
					<li><a href=""><i class="login-icon-qq"></i>QQ账号登录</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- 弹窗登录 -->
	<!-- 右侧在线客服 -->
	<div class="izl-rmenu">
	    <a class="cart"><div class="pic"><img src="/static/images/weixin.jpg"></div></a>   
	    <a class="consult" target="_blank"></a>    
	    <a href="javascript:void(0)" class="btn_top" style="display: block;"></a>
	</div>
	<!-- <a target="_blank"  href="http://wpa.qq.com/msgrd?v=3&uin=12345678&site=qq&menu=yes" id="udesk-feedback-tab" class="udesk-feedback-tab-left"></a> -->
	<a target="_blank"  href="feedback.html" id="udesk-feedback-tab" class="udesk-feedback-tab-left"></a>
	<!-- 右侧在线客服 -->