	<header>
		<div class="w980 autolr clearfix">
			<a href="javascript:;" class="fr btn-login">
				登录 / 注册
			</a>
			<a href="/" class="fl"><img src="/static/images/logo.gif"></a>
			<form class="fl searchbox" onsubmit="return false;">
				<input type="text" id="search-input" placeholder="搜索礼物、攻略">
				<label for="search-input">搜索</label>
				<i></i>
			</form>
		</div>
	</header>
	<nav>
		<ul id="nav">
            <li class="mainlevel cur"><a href="/">首页</a></li>
            <li class="mainlevel"><a href="<{url c='article' a='cehua'}>">策划</a></li>
            <li class="mainlevel"><a href="<{url c='article' a='liwu'}>">礼物</a></li>
            <li class="mainlevel"><a href="<{url c='article' a='zhufu'}>" class="subm">祝福</a> 
            	<ul>
                    <li><a href="" >祝福1</a></li>
                    <li><a href="" >祝福2</a></li>
                </ul>
            </li>
            <li class="mainlevel"><a href="<{url c='article' a='news'}>">资讯</a> </li>
        </ul>
	</nav>