<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><{$title}></title>
	<meta name="keword" content="﻿<{$sitekey}>">
	<meta name="description" content="<{$sitedesc}>">
	<link rel="stylesheet" type="text/css" href="static/style/css.css">
	<link rel="stylesheet" type="text/css" href="static/style/iconfont.css">
	<link rel="stylesheet" type="text/css" href="static/style/swiper.css">
</head>
<body>
	<{include file="common/header.html"}>
	<div class="banner swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide bpc brno bsc" style="background-image:url(/static/images/banner1.jpg)"></div>
        </div>
        <div class="swiper-pagination banner-page hide"></div>
    </div>
	<article class="fl w mt10">
		<div class="w980 autolr">
			<div class="subtit mt10 clearfix">
				<a href="<{url c='article' a='cehua'}>" class="fr fs14 cl6 rgticon">更多</a>
				<h3 class="fl mr10"><i></i>生日策划</h3>
				<p class="fl ml10 twomenu mt5">
					<a href="">女票</a>
					<a href="">男票</a>
					<a href="">父母</a>
					<a href="">儿童</a>
				</p>
			</div>
			<ul class="product-list mt10 clearfix">
			<{foreach $cehua as $k => $item}>
				<li>
					<a href="<{url c='article' a='show' aid=$item.articleid}>">
						<div class="h140"><img src="<{tsXimg($item.photo,'article',310,140,$item.path,1)}>" alt='<{$item.title}>' class='w310 h140 boradius-lr6'></div>
						<div class="newicon"></div>
						<div class="p15">
							<h2 class="lh28 pb5 overhide fs16 cl3"><{$item.title}></h2>
							<p class="h60 pt5 lh20 fs14 cl9 cf">
								<{$item.description}>
							</p>
							<div class="mt50 cl6">
								<span class="mr10"><i class="iconfont clf94">&#xe616;</i> <{$item.count_love}></span>
								<span class="mr10"><i class="iconfont clf94">&#xe622;</i> <{$item.count_comment}></span>
								<span><i class="iconfont clf94">&#xe630;</i> <{$item.count_view}></span>
							</div>
						</div>
					</a>
				</li>
				<{/foreach}>
			</ul>
			<div class="subtit mt10 clearfix">
				<a href="" class="fr fs14 cl6 rgticon">更多</a>
				<h3 class="fl mr10"><i></i>推荐礼物</h3>
				<p class="fl ml10 twomenu mt5">
					<a href="">女票</a>
					<a href="">男票</a>
					<a href="">父母</a>
					<a href="">儿童</a>
				</p>
			</div>
			<ul class="product-list mt10 clearfix">
				<{foreach $liwu as $k => $item}>
				<li>
					<a href="<{url c='article' a='show' aid=$item.articleid}>">
						<div class="h140"><img src="<{tsXimg($item.photo,'article',310,140,$item.path,1)}>" alt='<{$item.title}>' class='w310 h140 boradius-lr6'></div>
						<div class="newicon"></div>
						<div class="p15">
							<h2 class="lh28 pb5 overhide fs16 cl3"><{$item.title}></h2>
							<p class="h60 pt5 lh20 fs14 cl9 cf">
								<{$item.description}>
							</p>
							<div class="mt50 cl6">
								<span class="mr10"><i class="iconfont clf94">&#xe616;</i> <{$item.count_love}></span>
								<span class="mr10"><i class="iconfont clf94">&#xe622;</i> <{$item.count_comment}></span>
								<span><i class="iconfont clf94">&#xe630;</i> <{$item.count_view}></span>
							</div>
						</div>
					</a>
				</li>
				<{/foreach}>
			</ul>
		</div>
	</article>
<{include file="common/footer.html"}>
<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/swiper.min.js"></script>
<script type="text/javascript" src="/static/js/base.js"></script>
<script type="text/javascript">
	//banner图
    var swiper = new Swiper('.banner', {
        pagination: '.banner-page',
        paginationClickable: true,
        loop: true
    });
</script>
</body>
</html>