<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="chrome=1"/>
	<title>企业健康管理工具</title>
</head>
<frameset  rows='80,*' frameborder='0' border="0" framespacing="0" scrolling="auto">
	<frame src='<{url c='admin/main' a='top'}>' noresize='noresize' scrolling='no'/>
	<frameset cols='200,*'>
		<frame src='<{url c='admin/main' a='left'}>' noresize='noresize' scrolling='auto'/>
		<frame src='<{url c='admin/main' a='welcome'}>' noresize='noresize' name='mainFrame' id="mainFrame"/>
	</frameset>
</frameset>
<div id="win"></div>

</html>