<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">	
<title>left</title>
<link rel="stylesheet" href="../../static/businessManage/css/reset.css" />
<style type="text/css">
	body{background: #009ee6;}
</style>
</head>
<body>
	<div class="Aside">
		<a href="<{url c='admin/main' a='welcome'}>" target="mainFrame" class="current">首页</a>
        <a href="<{url c='admin/article' a='cehua'}>" target="mainFrame" class="current">策划管理</a>
		<a href="<{url c='admin/article' a='liwu'}>" target="mainFrame" class="current">礼物管理</a>
        <a href="<{url c='admin/blessing' a='list'}>" target="mainFrame" class="current">祝福管理</a>
        <a href="<{url c='admin/gift' a='list'}>" target="mainFrame" class="current">资讯管理</a>
        <a href="<{url c='admin/gift' a='list'}>" target="mainFrame" class="current">分类管理</a>

	</div>
	<img src="../../static/businessManage/images/asidetel.png" class="asidetel">
</body>
</html>