<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">	
<title>left</title>
<link rel="stylesheet" href="../../static/businessManage/css/reset.css" />
<style type="text/css">
	body{background: #009ee6;}
</style>
</head>
<body>
	<div class="Aside">
		<a href="<{url c='admin/main' a='welcome'}>" target="mainFrame" class="current">首页</a>
		<a href="staffmanagement.html" target="mainFrame">职员管理</a>
		<a href="distributi.html" target="mainFrame">福利分配</a>
		<a href="financialrecords.html" target="mainFrame">帐户记录查询</a>
		<a href="" target="mainFrame">福利分配记录查询</a>
		<a href="discount.html" target="mainFrame">我的优惠折扣</a>
		<a href="companyinfo.html" target="mainFrame">企业资料</a>
		<a href="passwordreset.html" target="mainFrame">账号管理</a>
		<a href="firstenter.html" target="mainFrame">初次登录</a>
	</div>
	<img src="../../static/businessManage/images/asidetel.png" class="asidetel">
</body>
</html>