<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">	
	<title>首页</title>
	<link rel="stylesheet" href="../../static/businessManage/css/reset.css" />
	<link rel="stylesheet" href="../../static/businessManage/css/chosen.css" />
	<link rel="stylesheet" href="../../static/businessManage/css/css.css" />
	
	<script type="text/javascript" src="./../static/businessManage/js/jquery-1.9.1.min.js" ></script>
	<script type="text/javascript" src="./../static/businessManage/js/xheditor/xheditor-1.2.2.min.js" ></script>
	<script type="text/javascript" src="./../static/businessManage/js/xheditor/xheditor_lang/zh-cn.js"></script>
</head>
<body class="bgf4">
	<div class="paddtl">
		<div class="bgf">
			<div class="borbe lh22 p10 pl20 pr20 fs14 cl3">
				<i class="fl titline mt05 mr05"></i>企业账户
			</div>
			<!-- 企业账户信息 -->
			<div class="p20 pt15 pb15 fs14 clearfix">
				<div class="fl w pt05 pb05">
					账户名：深圳市蓝海进出品贸易股份有限公司
				</div>
				<div class="fl w pt05 pb05">
					<div class="w300 fl">账户资金余额：<span class="fs24">￥10.00</span>  </div>
					<a href="" class="fl clf bg009 bor009 lh18 p05 pl15 pr15">现在分配</a>  
					<a href="" class="fl ml05 bor009 lh18 p05 pl15 pr15 cl009 bluebtn">我要充值</a>
				</div>
				<div class="fl w pt05 pb05">
					<div class="w300 fl">
						账户产品库存：<span class="inblo fs24 w80">41</span>款  
						<a href="" class="cl009">查看详情>  </a>
					</div>
					<a href="" class="fl clf bg009 bor009 lh18 p05 pl15 pr15">现在分配</a> 
					<a href="" class="fl ml05 bor009 lh18 p05 pl15 pr15 cl009 bluebtn">我要购买</a>
				</div>
			</div>
			<!-- 企业账户信息 -->
		</div>
		
		<textarea id="elm1" name="elm1"  class="xheditor" style="width:500px;height:300px;" rows="" cols=""  autocomplete="off"></textarea>
		
		<div class="bgf mt10">
			<div class="borbe lh22 p10 pl20 pr20 fs14 cl3">
				<i class="fl titline mt05 mr05"></i>职员消费统计报表
			</div>
			<div class="p20 pt15 pb15 fs14 clearfix">
				<div class="fl w mb15">
					<!-- 时间 -->
					<span class="fl lh30 mr10">时间</span>
					<input type="text" class="fl Wdate bore6" autocomplete="off" onClick="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'%y-%M-%d'})" />
					<span class="fl clc m05">— </span>
					<input type="text" class="fl Wdate bore6" autocomplete="off" onClick="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'%y-%M-%d'})"  />
					<!-- 时间 -->
					<!-- 职级 -->
					<span class="fl lh30 ml30 mr10">职级</span>
					<div class="fl">
						<select name="dept" data-placeholder="所有职级" class="ad-con-sel"> 
						    <option value="-1"></option>
						    <option value="所有职级">所有职级</option>
							<option value="CSO">CSO</option>
							<option value="高管">高管</option>
							<option value="普通职员">普通职员</option>
							<option value="其它">其它</option>
						</select>
					</div>
					<!-- 职级 -->

					<div class="fl ml20 w280 h30 bore6">
						<input type="button" name="" value="搜索" class="fr searchbtn cl3">
						<input type="text" name="" value="输入健康产品" class="fl inputext searchinput clc" autocomplete="off">
					</div>
				</div>
				<table cellspacing="0" cellpadding="0" class="tablebox">
					<thead>
						<tr>
							<th>ID</th>
							<th>健康产品</th>
							<th>职员人次</th>
							<th>消费次数</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>安培诊</td>
							<td>123</td>
							<td>100</td>
						</tr>
						<tr>
							<td>2</td>
							<td>安培诊</td>
							<td>4546</td>
							<td>120</td>
						</tr>
						<tr>
							<td>3</td>
							<td>安培诊</td>
							<td>4546</td>
							<td>120</td>
						</tr>
						<tr>
							<td>4</td>
							<td>安培诊</td>
							<td>4546</td>
							<td>120</td>
						</tr>
						<tr>
							<td>5</td>
							<td>安培诊</td>
							<td>4546</td>
							<td>120</td>
						</tr>
					</tbody>
				</table>
				<!-- 分页 -->
				<div class="paper clearfix">
					<p class="fr">共3页</p>
					<a href="#"><</a>
					<a href="#">1</a>
					<span>2</span> 
					<a href="#">3</a>
					<a href="#">></a>
				</div>
				<!-- 分页 -->
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../../static/businessManage/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="../../static/businessManage/js/base.js"></script>
	<script type="text/javascript" src="../../static/businessManage/My97DatePicker/WdatePicker.js"></script>
	<script type="text/javascript" src="../../static/businessManage/js/chosen.jquery.js"></script>
	<script type="text/javascript">
		$('.ad-con-sel').chosen();
	</script>
</body>
</html>