<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><{$title}></title>
	<meta name="keword" content="﻿<{$sitekey}>">
	<meta name="description" content="<{$sitedesc}>">
	<link rel="stylesheet" type="text/css" href="/static/style/css.css">
	<link rel="stylesheet" type="text/css" href="/static/style/iconfont.css">
</head>
<body>
	<{include file="common/header.html"}>
	<article class="fl w mt30">
		<div class="w980 autolr">
			<div class="fl w600">
				<h1 class="lh28 fs26 cl3"><{$data.title}></h1>
				<div class="mt20 borbe0 pt5 pb5 clearfix">
					<div class="fl cl6">
						<span class="mr10"><i class="iconfont clf94">&#xe616;</i> <{$data.count_love}></span>
						<span class="mr10"><i class="iconfont clf94">&#xe622;</i> <{$data.count_comment}></span>
						<span><i class="iconfont clf94">&#xe630;</i> <{$data.count_view}></span>
					</div>
					<div class="fr cl9">作者 : <{$data.author}>&nbsp;&nbsp;<{getTime($data.addtime)}></div>
				</div>
				
				<div class="lh30 fs18 cl4 pro-detail mt10">
					<{html_entity_decode($data.content)}>
				</div>
				<div class="mt20 pt5 pb5 clearfix">
					<div class="fr">
						<div class="jiathis_style_32x32 share-list">
							<a class="jiathis_button_qzone"></a>
							<a class="jiathis_button_tsina"></a>
							<a class="jiathis_button_weixin"></a>
							<a class="jiathis_button_qq"></a>
							<span class="fr lh34 mt5 fs15">分享到</span>
						</div>
						<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
						<style>
						.share-item {float: right; width: 50px; height: 34px; }
						.share-list a {display: block; width: 34px; height: 34px; float: right;margin-left:10px; cursor: pointer; }
						.jiathis_style_32x32 .jtico{width: 34px; height: 34px !important;background-image:url(/static/images/icon.png);}
						.jiathis_style_32x32  .jtico_weixin {background-position: -131px -428px; }
						.jiathis_style_32x32  .jtico_tsina {background-position: -131px -539px; }
						.jiathis_style_32x32  .jtico_qzone {background-position: -131px -465px; }
						.jiathis_style_32x32  .jtico_qq {background-position: -131px -502px; }
						</style>
					</div>
					<div class="fl cl6 mt5">
						<span class="mr10"><i class="iconfont clf94">&#xe616;</i> <{$data.count_love}></span>
						<span class="mr10"><i class="iconfont clf94">&#xe622;</i> <{$data.count_comment}></span>
						<span><i class="iconfont clf94">&#xe630;</i> <{$data.count_view}></span>
					</div>
				</div>
				<div class="mt30">
					<div class="fs18 lh30 pt10 pb10 borbe0">评论 (<{$data.count_comment}>)</div>
					<div>
						<ul class="comment-cell clearfix">
							<{foreach $arrComment as $k => $item}>
							<li>
								<a class="avatar" title=""><img src="<{$item.user.face}>" alt="<{$item.user.username}>"></a>
								<div class="comment-body">
									<div class="comment-operation">
										<div class="user-name"><{$item.user.username}></div>
										<div class="post-time-v2">
											<{getTime($item.addtime)}>
										</div>
										<span class="like-count j-like-comment"><{$item.count_love}></span>
									</div>
								</div>
								<div class="comment-content comment-content_new">
									<{$item.content}>
								</div>
							</li>
							<{/foreach}>
							<!-- 
							<a href="" class="click-more-reviews">点击加载更多评论</a> -->
						</ul>
					</div>
					<div class="comment-box mt30">
                        <textarea class="reply-editor" placeholder="想说点什么呢"></textarea>
                        <div class="mt20 clearfix">
                        	<a href="javascript:;" class="fr submit-button" onclick="submitComment();">提交评论</a>
                        	<div class="fl cb-login-tip fs16 cl3 lh24"><a href="javascript:;" class="btn-login-cb clf94"> 登录 </a>参与评论</div>
                        </div>
                       
                    </div>
				</div>
			</div>
			<div class="fr w310">
				<div class="pb20 lh24 fs18 cl3">推荐礼物</div>
				<ul class="d-rgt-list clearfix">
					<{foreach $liwu as $k => $item}>
					<li>
						<a href="<{url c='article' a='show' id=$item.articleid}>">
							<img src="<{tsXimg($item.photo,'article',80,80,$item.path,1)}>" class="bsc brno bpc" >
							<p>
								<{$item.title}>
							</p>
						</a>
					</li>
					<{/foreach}>
				</ul>
				<a href=""><img src="/static/images/p01.jpg" class="fl w"></a>
			</div>
		</div>
	</article>
	<{include file="common/footer.html"}>
<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/base.js"></script>

</body>
</html>