<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><{$title}></title>
	<meta name="keword" content="﻿<{$sitekey}>">
	<meta name="description" content="<{$sitedesc}>">
	<link rel="stylesheet" type="text/css" href="/static/style/css.css">
	<link rel="stylesheet" type="text/css" href="/static/style/iconfont.css">
	<link rel="stylesheet" type="text/css" href="/static/style/swiper.css">
</head>
<body>
	<{include file="common/header.html"}>
	<article class="fl w mt10">
		<div class="w980 autolr">
			<div class="category mt30">
				<ul>
					<li>
						<span>赠送对象：</span>
						<{if $gid}>
						<a href="<{url c='article' a='liwu' gid=$gid}>" <{if $cid == ''}>class="cur"<{/if}>>全部</a>
						<{else}>
						<a href="<{url c='article' a='liwu'}>" <{if $cid == ''}>class="cur"<{/if}>>全部</a>
						<{/if}>
						<a href="<{url c='article' a='liwu' cid='5' gid=$gid}>" <{if $cid == 5}>class="cur"<{/if}>>自己</a>
						<a href="<{url c='article' a='liwu' cid='6' gid=$gid}>" <{if $cid == 6}>class="cur"<{/if}>>男票</a>
						<a href="<{url c='article' a='liwu' cid='7' gid=$gid}>" <{if $cid == 7}>class="cur"<{/if}>>女票</a>
						<a href="<{url c='article' a='liwu' cid='8' gid=$gid}>" <{if $cid == 8}>class="cur"<{/if}>>闺蜜</a>
						<a href="<{url c='article' a='liwu' cid='9' gid=$gid}>" <{if $cid == 9}>class="cur"<{/if}>>基友</a>
						<a href="<{url c='article' a='liwu' cid='10' gid=$gid}>" <{if $cid == 10}>class="cur"<{/if}>>同事</a>
						<a href="<{url c='article' a='liwu' cid='11' gid=$gid}>" <{if $cid == 11}>class="cur"<{/if}>>父母</a>
						<a href="<{url c='article' a='liwu' cid='12' gid=$gid}>" <{if $cid == 12}>class="cur"<{/if}>>小朋友</a>
					</li>
					<li>
						<span>Ta的个性：</span>
						<{if $cid}>
						<a href="<{url c='article' a='liwu' cid=$cid}>" <{if $gid == ''}>class="cur"<{/if}>>全部</a>
						<{else}>
						<a href="<{url c='article' a='liwu'}>" <{if $gid == ''}>class="cur"<{/if}>>全部</a>
						<{/if}>
						<a href="<{url c='article' a='liwu' cid=$cid gid='13'}>" <{if $gid == 13}>class="cur"<{/if}>>美物</a>
						<a href="<{url c='article' a='liwu' cid=$cid gid='14'}>" <{if $gid == 14}>class="cur"<{/if}>>手工</a>
						<a href="<{url c='article' a='liwu' cid=$cid gid='15'}>" <{if $gid == 15}>class="cur"<{/if}>>吃货</a>
						<a href="<{url c='article' a='liwu' cid=$cid gid='16'}>" <{if $gid == 16}>class="cur"<{/if}>>萌萌哒</a>
						<a href="<{url c='article' a='liwu' cid=$cid gid='17'}>" <{if $gid == 17}>class="cur"<{/if}>>小清新</a>
						<a href="<{url c='article' a='liwu' cid=$cid gid='18'}>" <{if $gid == 18}>class="cur"<{/if}>>动漫迷</a>
						<a href="<{url c='article' a='liwu' cid=$cid gid='19'}>" <{if $gid == 19}>class="cur"<{/if}>>科技范</a>
						
					</li>
				</ul>
			</div>
			<ul class="product-list mt20 clearfix">
				<{foreach $liwu as $k => $item}>
				<li>
					<a href="<{url c='article' a='detail' aid=$item.articleid}>" title="<{$item.title}>">
						<div class="h140"><img src="<{tsXimg($item.photo,'article',310,140,$item.path,1)}>" alt='<{$item.title}>' class='w310 h140 boradius-lr6'></div>
						<div class="p15">
							<h2 class="lh28 pb5 overhide fs16 cl3"><{$item.title}></h2>
							<p class="h60 pt5 lh20 fs14 cl9 cf">
								<{$item.description}>
							</p>
							<div class="mt50 cl6">
								<span class="mr10"><i class="iconfont clf94">&#xe616;</i> <{$item.count_love}></span>
								<span class="mr10"><i class="iconfont clf94">&#xe622;</i> <{$item.count_comment}></span>
								<span><i class="iconfont clf94">&#xe630;</i> <{$item.count_view}></span>
							</div>
						</div>
					</a>
				</li>
				<{/foreach}>
			</ul>
			<div class="pager">
				<{html_entity_decode($pager)}>
			</div>
		</div>
	</article>
	<{include file="common/footer.html"}>
<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/base.js"></script>
</body>
</html>