<{include file="admin/header.html"}>
<!-- north区域 -->
<div class="header">
	<img src="images/logo.png">
	
</div>
<!-- /north区域 -->
<div class="article">
	<div class="login clearfix">
		<h3>你好，欢迎访问！</h3>
		<form id="Loginform" action="<{url c='admin/login' a='dologin'}>" method="post">
			<div class="loginbox clearfix">
				<dl>
					<dt>账号：</dt>
					<dd><input type="text" name="username" value="" id="_username" class="inputs forminput w210" autocomplete="off"></dd>
				</dl>
				<dl>
					<dt>密码：</dt>
					<dd><input type="password" name="password" value="" id="_password" class="inputs forminput w210" autocomplete="off"></dd>
				</dl>
				<input type="hidden" name="token" value="<{$token}>" >
				<input type="submit" name="submit" id="_LoginBtn" value="登 录" class="btns btn-blue mt20" >
			</div> 
		</form>
	</div>
</div>
<script type="text/javascript">
$("body").keydown(function(event) {
	if (event.keyCode == "13") {//keyCode=13是回车键
		$('#_LoginBtn').click();
	}
});
	var padNum= ($(document).height()-600)/2;
	$(".login").css({"padding-top":padNum,"padding-bottom":padNum});
</script>
</body>
</html>